@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



.navbar.luxury {
  font-family: "Ubuntu", sans-serif;
    background-color: transparent;
    box-shadow: none;
    border-bottom: none;
    font-family: 'Cinzel', serif;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .navbar-brand{
    font-size: 30px;
  }
  .navbar.luxury .navbar-brand,
  .navbar.luxury .nav-link,
  .navbar.luxury .dropdown-toggle {
    font-family: "Ubuntu", sans-serif;
    color: #3f3a2e;
    font-weight: 600;
  }
  
  .navbar.luxury .nav-link:hover,
  .navbar.luxury .dropdown-item:hover,
  .navbar.luxury .navbar-brand:hover {
    color: #d6b94d;
  }
  
  .navbar.luxury .dropdown-menu {
    background-color: #fffdf7;
    border: none;
}

.navbar.luxury .dropdown-item {
  color: #5c4000;
}