.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 700px;           
    margin: auto;
    margin-top: 10px;
    padding: 30px;
    border-radius: 20px;
    position: relative;
    background-color: rgb(77, 72, 72);
    color: #fff;
    border: 1px solid #F2B263;
    backdrop-filter: blur(10px); 
  }
  
  .title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #F2B263;
  }
  
  .title::before,
  .title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #F2B263;
  }
  
  .title::after {
    animation: pulse 1s linear infinite;
  }
  
  .message,
  .signin {
    font-size: 14.5px;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    color: #F2B263;
  }
  
  .signin a:hover {
    text-decoration: underline;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form label {
    position: relative;
    width: 100%;
  }
  
  .form label .input {
    background-color: #333;
    color: #fff;
    width: 100%;
    padding: 20px 5px 5px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form label .input + span {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 12.5px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,
  .form label .input:valid + span {
    color: #F2B263;
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .submit {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    background-color: #b7884e;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .submit:hover {
    background-color: #d99d4f;
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }